{% extends 'base.html.twig' %}

{% block title %}Modification de {{ categorie.nom }}{% endblock %}

{% block body %}


<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ categorie.nom }}</td>
        </tr>
    </tbody>
</table>

    {{ form(form_edit) }}

{% endblock %}